@import "tailwindcss";
@plugin 'tailwind-scrollbar-hide';

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.food-scroll::-webkit-scrollbar {
  display: none;
}

.food-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}